<launch>
   <rosparam command="load" file="$(find iai_robot_mechanism_controllers)/config/pr2_cart_twist.yaml" />

  <!-- unspawn the regular pr2 arm controllers -->
  <node name="unspawn_arm_controllers" pkg="pr2_controller_manager" type="unspawner" args="l_arm_controller r_arm_controller"/>

  <!-- spawn the pr2 cartesian twist controllers -->
  <node name="spawn_cart_twist" pkg="pr2_controller_manager" type="spawner" args="l_arm_cart_twist r_arm_cart_twist" />
</launch>
