<launch>

  <include file="$(find loopback_controller_manager_examples)/launch/pr2_loopback_no_controllers.launch"/>

  <!-- write desired start configuration on parameter server -->
  <rosparam command="load" file="$(find loopback_controller_manager_examples)/config/pr2_pouring_sim_start_config.yaml" ns="loopback_controllers"/> 

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find loopback_controller_manager_examples)/config/pr2_pouring_sim.rviz"/>

</launch>
