<launch>
  <node pkg="iai_rosbag_utils" type="pr2_fingertip_restamper" 
      name="pr2_left_fingertip_restamper">
    <remap from="~in_topic" to="/pressure/l_gripper_motor"/>
    <remap from="~out_topic" to="/pressure/l_gripper_motor/restamped"/>
  </node>

  <node pkg="iai_rosbag_utils" type="pr2_fingertip_restamper" 
      name="pr2_right_fingertip_restamper">
    <remap from="~in_topic" to="/pressure/r_gripper_motor"/>
    <remap from="~out_topic" to="/pressure/r_gripper_motor/restamped"/>
  </node>
</launch>
