<launch>
  <param name="/use_sim_time" value="false"/>

  <include file="$(find pr2_description)/robots/upload_pr2.launch"/>

  <!-- start loopback controller manager -->
  <node name="loopback_controllers" type="loopback_controller_manager" pkg="loopback_controller_manager" output="screen">
    <param name="dt" value="0.003" />
    <param name="damping" value="1.0" />
    <rosparam ns="joints">
      name: ['torso_lift_joint', 'head_tilt_joint', 'r_shoulder_lift_joint', 'r_elbow_flex_joint', 'r_wrist_flex_joint', 'l_shoulder_lift_joint', 'l_elbow_flex_joint', 'l_wrist_flex_joint']
      position: [0.012, 0.20, 0.027, -0.40, -0.66, 0.027, -0.40, -0.66]
    </rosparam>
  </node>
</launch>
